{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container justify-center pt-4 pl-5">
    <h2 class="fw-normal">Check if your Tweet is Offensive or Not</h2>
</div>
{% if results|length > 0 %}
<div class="container">
    <h3 class=" text-center mt-5">Results</h3>
    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tweet</th>
            <th scope="col">Prediction</th>
        </tr>
        {% for i in range(results|length)%}
        <tr>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ tweets[i] }}</td>
            {% if results[i] == 'Offensive Language' %}
            <td class="text-danger">{{ results[i] }}</td>
            {% else %}
            <td class="text-primary">{{ results[i] }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
<div class="container justify-center pt-4 p-5">
    <form action="checkTweet" method="POST">
        <div class="mb-3">
            <h4><label for="data" class="form-label">Enter Data :</label></h4>
            <div id="dataHelpBlock" class="form-text">
                Incase to multiple testing data separate them by pressing Enter Key &#9166.
            </div>
            <textarea class="form-control" name="data" id="data" rows="5"></textarea>
            {% if errorMsg %}
            <div id="errorMsg" class="fst-italic font-monospace fs-6 text-danger">
                {{ errorMsg }}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-info">Check</button>
    </form>
</div>

{% endblock %}