{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container justify-center p-5">
    <h2>About the Project</h2>
    <p>
        This WebApp uses a Logistic Regression Trained Model to predict whether an input tweet is Offensive or Not.
        The Machine Learning Model is trained using the given datasets:
        <br><a target="_blank"
            href="https://www.kaggle.com/mrmorj/hate-speech-and-offensive-language-dataset">
            Training Dataset 1
        </a>
        <br><a target="_blank"
            href="https://www.kaggle.com/arkhoshghalb/twitter-sentiment-analysis-hatred-speech?select=train.csv">
            Training Dataset 2
        </a>
        <br><br>On applying various Data Analysis operations on the above dataset, it was found out that the Non-Offensive words are as follows:
        <img src="/static/img/wordsPositive.png" class="img-fluid py-4" alt="normalwords">
        <br>Likewise, it was found out that the Offensive words are as follows:
        <img src="/static/img/wordsNegative.png" class="img-fluid py-4" alt="hatewords">
        <br>Also given below are the graphs showing the top 20 Offensive and Non-Offensive hashtags in the dataset.
        <img src="/static/img/hashtagsPositive.png" class="img-fluid py-4" alt="normalhashtags">
        <img src="/static/img/hashtagsNegative.png" class="img-fluid py-4" alt="hatehashtags">
        <br><br>
        Using the above information, a Logistic Regression Model was trained and tested.
        The Model achieved an accuracy between of 94-95% after 50 trainings on the Training dataset.
        <br>
        <a class="px-3 btn btn-info mt-4" href="checkTweet" role="button">Test the ML Model</a>
    </p>
</div>

{% endblock %}